on:
  release:
    types: [published]

name: Publish Novu Chart

jobs:
  publish:
    permissions:
      contents: read
      packages: write
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Configure Git
        run: |
          git config user.name "$GITHUB_ACTOR"
          git config user.email "$GITHUB_ACTOR@users.noreply.github.com"

      - name: Install Helm
        uses: azure/setup-helm@v4
        env:
          GITHUB_TOKEN: "${{ secrets.GITHUB_TOKEN }}"

      - name: Install dependencies
        run: helm dependencies build ./charts/novu

      - name: Login to GitHub Container Registry
        run : echo '${{ secrets.GITHUB_TOKEN }}' | helm registry login -u '${{ github.actor }}' --password-stdin ghcr.io
        env:
          HELM_EXPERIMENTAL_OCI: '1'

      - name: Package
        run: helm package ./charts/novu

      - name: Publish
        run: helm push novu-*.tgz oci://ghcr.io/nova-edge/charts
